/* Styles for mobile screens */
@media (max-width: 768px) {
  canvas {
    width: "270px" !important; /* Make canvas width 100% on mobile */
    height: 400px !important; /* Auto height based on content */
    left: 0 !important;
    top: 0 !important;
  }
}

/* Styles for tablet screens */
@media (min-width: 769px) and (max-width: 1024px) {
  canvas {
    width: 80% !important;
    height: auto !important;
    left: 10% !important; /* Center canvas horizontally */
    top: 10% !important; /* Center canvas vertically */
  }
}

/* Styles for large screens */
@media (min-width: 1025px) {
  canvas {
    width: 50% !important;
    height: auto !important;
    left: 25% !important;
    top: 20% !important;
  }
}
