
.custom-height {
  height: 300px; 
}

.carousel .control-dots .dot {
  background-color:#81B3DC;
  width:15px;
  height: 15px;
}

.control-dots{
  bottom: -30px ;
}

.carousel .control-dots .dot.selected {
    width:20px;
    height: 20px;
  background-color: #ce6ada;
}

.landing-product-item {
  display: none;
}

@media (min-width: 996px) {
  .landing-product-item {
    display: block;
  }
}