@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.transition-opacity {
  animation: slide 0.7s ease-in-out;
}

* {
  body {
    font-family: "Serif", serif;
  }
}
/* .carousel{
    height:100vh;
  }  */
